/* 基础设置 */
.container {
    width: 1190px;
    margin: 0 auto;
}
/* #region顶部导航条start */
.topbar{
    height: 30px;
    background-color: #ECECEC;
}
.welcome {
    height: 30px;
    line-height: 30px;
    font-size: 0px;
    color: #666;
}
.welcome span,.welcome a {
    font-size: 12px;
}
.welcome .hello {
    margin-right: 28px;
}
.welcome .login {
    padding-right: 10px;
    border-right: 1px solid #666;
}
.welcome .register {
    padding-left: 10px;
}
.topbar-nav .list {
    height: 30px;
    line-height: 30px;
}
.topbar-nav .list li{
    float: left;
}
.topbar-nav .list li a {
    padding: 0 15px;
    border-right: 1px solid black;
}
.topbar-nav .list li:first-child a {
    padding-left: 0;
}
.topbar-nav .list li:last-child a {
    padding-right: 0;
    border: 0;
}
/* #endregion顶部导航条end */

/* #region头部start */
.header {
    height: 120px;
    /* background-color: skyblue; */
}
.header .search form {
    margin-top: 42px;
    font-size: 0;
}
.header .search input {
    width: 508px;
    height: 34px;
    border: 1px solid #DD302D;
}
.header .search button {
    width: 80px;
    height: 36px;
    background-color: #DD302D;
    vertical-align: top;
    background-image: url(../../Resource/assets/serch_icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
/* #endregion头部end */

/* #region主导航区start */
.main-nav {
    height: 48px;
    border-bottom: 1px solid #DD302D;
}
.main-nav .all-types {
    width: 190px;
    height: 48px;
    background-color: #DD302D;
    font-size: 16px;
    color: #FFF;
    line-height: 48px;
    text-align: center;
}
.main-nav-list {
    height: 48px;
    line-height: 48px;
}
.main-nav-list li {
    float: left;
    margin: 0 10px;
}
.main-nav-list li a {
    font-size: 16px;
    color: #333;
}
/* #endregion主导航区end */

/* #region主内容区start */
.main-content {
    margin-top: 10px;
}
.main-content .side-nav {
    width: 190px;
    height: 458px;
    background-color: #f4f4f4;
    position: relative;
}

.main-content .side-nav li {
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    padding-left: 16px;
}
.main-content .side-nav li:first-child {
    padding-top: 5px;
}
.main-content .side-nav li:last-child {
    padding-bottom: 5px;
}
.main-content .side-nav li:hover {
    background-color: red;
}
.main-content .side-nav li:hover>a {
    color: white;
}
.main-content .banner {
    width: 690px;
    height: 458px;
    background-color: #f4f4f4;
    margin: 0 10px;
}
.main-content .side-other {
    width: 290px;
    height: 458px;
    background-color: #f4f4f4;
}
.second-menu {
    width: 700px;
    height: 458px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 190px;
    padding-left: 20px;
    display: none;
}
.main-content .side-nav li:hover .second-menu {
    display: block;
}
.second-menu dt {
    float: left;
    width: 70px;
    font-weight: bold;
    margin-right: 10px;
}
.second-menu dd {
    float: left;
}
.second-menu dd a {
    padding: 0 10px;
    border-left: 1px solid #666;
}
.second-menu dl {
    height: 36px;
    line-height: 36px;
}
/* #endregion主内容区end */

/* #region侧边二级菜单start */

/* #endregion侧边二级菜单end */
